html{
    min-height: 100%;
    position: relative;
}

body {
    /*background-image: url("http://carlitos.com.ar/DGREC/image/Fondo.jpg");*/
    background-color: #F2F2F2;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*/////ELEMENTOS MODIFICADOS GLOBAL//////*/
h1{
    color: rgb(67,122,67);
    font-size: 28px;
    margin: 0px;
}


/*////////CABECERA////////////*/
header {
    background-color:rgba(67,122,67,0.9);
    margin: 0;
    padding: 0;
    position: fixed;
    margin-top: 0;
    width: 100%;
    box-shadow: 2px 2px 5px -4px;
    z-index: 20;
}

header img {
    width:13%;
    padding: 15px;
    float: left;
}
.logoCV {
    float: right;
    width: 20%;
}

/*/////////CONTENEDOR//////////////*/
.contenedor{
    margin-top: 15%; 
    margin-bottom: 40px;
}

.caja{
    padding: 5%;
}
.boton {
    width: 80%;
    background: #FFBF00;
    border: none;
    font-size: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.botonAtras button{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
    position: fixed;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
    border: none;
    border-radius: 50%;
}



/*//////////DATOS DE INGRESO//////////////*/
.contenedorIngreso{
    background-color: white;
}

.ingreso{
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 1px 0px;
    text-align: center;
    padding: 5px;
}


.ingreso h3{
    margin-top: 10px;
}

.ingreso input{
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.ingreso button {
    width: 80%;
    background: #FFBF00;
    border: none;
    font-size: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

/*/////////ESCRITORIO/////////*/
#divEgreso,
#divIngreso,
#imagenMixta {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F5A9;
    border-radius: 0 0 15px 15px;
    box-shadow: 2px 2px 5px -4px;
    font-size: 32px;

}

.tituloEscritorio{
    font-size: 1.5em;
    padding: 5px;
    background-color: #FFBF00;
    color: white;
}

#divEgreso{
    margin-top: 4%;
}

.botonIngreso,
.botonIngreso{
    width: 15%;
    padding: 15px;
}

#escritorio .caja{
    margin-bottom: 100px;
}

/*/////CARGA/////////*/
#camion {
    text-align: center;
}

.carga{
    margin-top: 10%;
}

.cargaTitulo{
    font-size: 1em;
}

.contenedorCarga{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F5A9;
    border-radius: 0 0 15px 15px;
    box-shadow: 2px 2px 5px -4px;
    font-size: 32px;
}

.botonCargar{
    width: 50%;
}

.contenidoCarga{
    padding: 2%;
    width: 100%;
    overflow: auto;
}

.divValidacion{
    width: 94%;
    color: white;
    padding: 1%;
    margin: 0;
    display: none;
}

.tituloInput{
    font-size: 24px;
    margin: 0;
}

.fecha,
.hora,
.patente {
    font-size: 1em;
    width: 50%;
}

.observacion{
    height: 1em;
    width: 50%;
    font-size: 24px;
    max-width: 50%;
    min-width: 50%;
    min-height: 1em;
    max-height: 200px;
}

#bolson .contenidoCarga{
    padding-top: 0px;
}

.mostrador{
    width: 100%;
    color:white;
}

.cajaCarga{
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.contador{
    width: 46%;
    margin: 2%;
    float: left;
    background-color: #FACC2E;
}

.contador p {
    font-size: 0.6em;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

.contador #cantidadMostrado,
.contador #pesoMostrado{
    font-family: monospace;
    font-size: 1.2em;
}

.seccionBolson{
    width: 48%;
    float: left;
    padding: 1%;
    margin: 0;
    overflow: auto;
}
.seccionBolsonSelect{
    margin:0;
    width: 96%;
    padding: 5px;
    padding-top: 0.2%;
}

.seccionBolsonSelect select{
    width: 50%;
    float: left;
    font-size: 0.8em;
    text-align: center;
    background-color: #FACC2E;
}


.seccionBolson input{
    margin: 0;
    width: 90%;
    font-size: 1em;
}

.seccionBolson tr{
    font-size: 0.6em;
    padding: 1%;

}

.seccionBolson td{
    border: 1px solid white;
}


.seccionEstadistica{
    width: 100%;
    padding-left: 10%;
    float: right;
    font-size: 12px;
}

.seccionEstadistica td{
    border: 1px solid black;
}
/*
.seccionEstadistica tr{
    font-size: 0.8em;
    padding: 1%;
    width: 100%;

}

.seccionEstadistica td{
    border: 1px solid white;
    width: 33.3%;
}*/

/*//////FOOTER/////////*/
footer{
    position: fixed;
    background-color: black;
    height: 40px;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 20px; 
    padding: 20px;
}

#ingreso-principal,
#escritorio, /*Escritorio de todas las cargas*/
/*#carga, /*Carga de los elementos*/
#elementos, /*Elementos para cargar, cuando tiene varios metodos*/
#camion,
#bolson, /*Carga de bolson*/
#informacion, /*Información de cantidad de cargas*/
#mostradorPeso, /*///MOSTRADOR DEL PESO EN CARGA///*/
#mostradorCantidad,/*///MOSTRADOR DE CANTIDAD EN CARGA///*/
/*#mixta, *//*///////Carga de mixto//////////*/
#botonContinuar /*///////BOTON DE CONTINUAR MIXTO//////*/
{
    display: none;
}

#etapaDiv, 
#subetapaDiv, 
#materialDiv, 
#caracteristicaDiv,
#tablabolson,
#tablapesomaterial{
    display: none;
  }
@media screen and (max-width: 1200px){
    .seccionBolson tr{
        font-size: 0.5em;
    }
}

@media screen and (max-width: 1050px){
    .cajaCarga{
        padding-top: 3%;
    }

    .seccionBolson{
        width: 48%;
    }
    
    .seccionBolson tr{
        font-size: 0.35em;
    }

}
@media screen and (max-width: 700px){
    .ingreso{
        width: 80%;
    }

    .divValidacion{
        font-size: 0.5em;
    }

    .contenedor{
        margin-top: 13%;
    }

    .botonIngreso,
    .botonIngreso{
    width: 30%;
    padding: 10px;
    }
    
    .seccionBolsonSelect select{
        width: 48%;
    }

    .seccionBolson tr{
        font-size: 0.6em;
    }

    .seccionBolson{
        width: 97%;
    }
    
}

@media screen and (max-width: 500px){
    .contenedor{
        margin-top: 20%;
    }

    #divEgreso .caja{
        padding: 5%;
    }

    .caja{
        padding: 10%;
    }

    .cajaCarga{
        padding-top: 2%;
    }

    .fecha,
    .hora,
    .patente {
        font-size: 18px;
        width: 85%;
    }

    .observacion{
        height: 18px;
        width: 85%;
        font-size: 24px;
        max-width: 85%;
        min-width: 85%;
        min-height: 18px;
        max-height: 50px;
    }

    .botonAtras button{
        position: static;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
        font-size: 1.5em;
        padding: 5px;
        border: none;
        border-radius: 0px;
    }
    
    .contenedorCargaMovil{
        margin-top: 12%;;
    }

    .contador #cantidadMostrado,
    .contador #pesoMostrado{
    font-family: monospace;
    font-size: 0.8em;
    }

    .seccionEstadistica tr{
        font-size: 1em;
        padding: 1%;
        width: 100%;
    
    }
    
    .seccionEstadistica td{
        border: 1px solid white;
        width: 33.3%;
    }
}

